{% extends "blog/base.html" %}
{% load bootstrap %}


{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form | bootstrap }}
                <input type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

