{% extends 'blog/base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-10">
            <h1>{{ post.title }}</h1>
            {% if post.published_date %}
            <h6>{{ post.published_date }}</h6>
            {% else %}
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        <div class="col-md-2">
            {% if user.is_authenticated %}<hr>
            <!--if post is a draft Publish button won't be visible-->
            {% if post.published_date %}
            {% else %}<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
            Publish</a><br><br>{% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        </div>
    </div>
    <div class="row">
        {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="col-md-10">
            <hr>
            <strong>{{ comment.author }}</strong>
            <h6>{{ comment.created_date }}</h6>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        <div class="col-md-2">
            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
            <span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        {% endif %}
        {% empty %} 
        <div class="col-md-12">
        <p>No comments here yet :(</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}    