{% extends 'blog/base.html' %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-10">
            <h1 class="page-header">{{ post.title }}</h1>
            {% if post.published_date %}
            <h4>{{ post.published_date }}</h4>
            {% else %}
            <h4>Saved: {{ post.created_date }}</h4>
            {% endif %}
            <p class="lead">{{ post.text|linebreaksbr }}</p>
        </div>
        <div class="col-md-2">
            {% if user.is_superuser %}<hr>
            <!--if post is a draft Publish button won't be visible-->
            {% if post.published_date %}
            {% else %}<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">
            Publish</a><br><br>{% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <nav aria-label="...">
            <ul class="pager">
                {% if prev_post_id %}
                <li class="previous"><a href="{% url 'post_detail' pk=prev_post_id %}">Previous</a>
                    {% else %}sss</li>
                {% endif %}
            {% if next_post_id %}
                <li class="next"><a href="{% url 'post_detail' pk=next_post_id %}">Next</a>
                    {% else %}fff</li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        </div>
    </div>
    <div class="row">
        {% for comment in post.comments.all %}
        {% if user.is_superuser or comment.approved_comment %}
        <div class="col-md-10">
            <hr>
            <strong>{{ comment.author }}</strong>
            <h3>{{ comment.created_date }}</h3>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        <div class="col-md-2">
            {% if not comment.approved_comment %}
            <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}">
            <span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}">
            <span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        {% endif %}
        {% empty %} 
        <div class="col-md-12">
        <h3>No comments here yet :(</h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}    