{% extends 'blog/base.html' %}

{% block content %}
    
    <div class="content">
    	<div class="row">
    	{% for post in posts %}
    		<div class="col-xs-12 col-md-6">
    			<h1 class="page-header"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    			<h4>{{ post.published_date }}</h4>
    			<blockquote><p class="lead">{{ post.text|linebreaksbr }}</p></blockquote>
    			<a href="{% url 'post_detail' pk=post.pk %}"><h3>Comments: {{ post.approved_comments.count }}</h3</a>
    		</div>
    	{% endfor %}
		</div>
    </div>
{% endblock content %}	